*{
  margin:0px;
  padding:0px;
  border:0px;
}
body{
	font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    background: #fff; 
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.clear{
    clear:both;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.main{
	width:1024px;
	height:768px;
	margin:0 auto;
	position:relative;
	background: url('images/bg.jpg') no-repeat 0 0;	
}
.mainframe{

	margin:7px;
	border:0;
}
.nav_news{
	display:block;
	width:112px;
	height:135px;
	left:185px;
	top:218px;
}
a.nav_news:hover{
	background: url('images/nav_news_hover.jpg') no-repeat 0 0;	
}
.nav_events{
		display:block;
	width:123px;
	height:116px;
	left:252px;
	top:119px;
}
a.nav_events:hover{
	background: url('images/nav_events_hover.jpg') no-repeat 0 0;	
}
.nav_artists{
	
}
.nav_music{
	
}
.nav_education{
	
}
.nav_gallery{
	
}
.nav_credits{
	
}
.nav_contact{
	
}
.nav_eshop{
	
}
.nav_flux{
	
}
.board{
	background: url('images/border_bg.png') no-repeat 0 0;	
    position:absolute;
	width:458px;
	height:367px;
	top:193px;
	left:311px;
}
#news ul.articlelist {
	width:396px;
	margin: 5px 0 0 23px;
	line-height:18px;
}
#news ul.articlelist li{
	background: url('images/list_bg.gif') no-repeat left bottom;
	color:#A0AAAB;
}
#news .readmore{
	background: url('images/ico_arrow.gif') no-repeat 0 50%;
	padding-left:8px;
	color:#A0AAAB;
	float:right;
	padding-bottom:2px;
}
#news ul.articlelist li p{
	min-height:48px;
	padding-top:18px;
}
#news .archive{
	background: url('images/archive_bg.gif') no-repeat 0 50%;
	padding-left:160px;
	right:20px;
	bottom:22px;	
}
#news .archive a{
	color:#A0AAAB;
}