*{
  margin:0px;
  padding:0px;
  border:0px;
}
body{
	font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
    background: #fff; 
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.clear{
    clear:both;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.main{
	width:1024px;
	height:768px;
	margin:0 auto;
	position:relative;
	background: url('images/bg.jpg') no-repeat 0 0;	
}
.mainframe{
	width:436px;
	height:349px;
	margin:7px;
}
.nav_news{
	display:block;
	width:112px;
	height:135px;
	left:185px;
	top:218px;
}
a.nav_news:hover{
	background: url('images/nav_news_hover.jpg') no-repeat 0 0;	
}
.nav_events{
	
}
.nav_artists{
	
}
.nav_music{
	
}
.nav_education{
	
}
.nav_gallery{
	
}
.nav_credits{
	
}
.nav_contact{
	
}
.nav_eshop{
	
}
.nav_flux{
	
}
.board{
	border:2px solid #d4e682;
	        -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
        border-radius: 10px;
        background:#fff;
        	position:absolute;
	width:455px;
	height:363px;
	top:193px;
	left:311px;
}